<head>
<%= stylesheet_link_tag "style" %>
</head>


<%= form_with(model: tool) do |form| %>
  <% if tool.errors.any? %>
    <div style="color: red">

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br/>
  <div class="form-group row">
    <%= form.label :nombre,"Nombre:", class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= form.text_field :nombre, class:'form-control' %>
  </div>
  </div>

  <div class="form-group row">
    <%= form.label :caracteristicas,"Características:", class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= form.text_area :caracteristicas, class:'form-control' %>
  </div>
  </div>

  <div class="form-group row" >
    <%= form.label :existencia,"Existencia:", class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= form.number_field :existencia , class:'form-control'%>
  </div>
  </div>

  <div class="form-group row">
    <%= form.label :estatus,"Estatus:", class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= form.select :estatus, ["Bueno", "Nuevo ", "Regular"], prompt: "Seleccione el estatus", class:'form-control' %>
  </div>
  </div>
  <br>
  </br>
  <div>
  <button  class="btn btn-info  btn-xs round btn-guardar"  <%= form.submit %>Guardar </button>
  <%= link_to 'Cancelar', tools_path, class: "btn btn-warning btn-xs round btn-cancelar"%>

  <br>
  </br>
  </div>
<% end %>

