<div id="<%= dom_id tool %>">
<p>
    <strong>Nombre:</strong>
    <%= tool.nombre %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= tool.caracteristicas %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= tool.existencia %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= tool.estatus %>
  </p>
</div>
