<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Equipo</a></li>
          <li class="breadcrumb-item active">Registrar nuevo equipo</li>
        </ol>
                  <h4 class="text">Nuevo equipo </h4>
</div>
 <div class="probar">
                  <%= form_for @mantenimientos ,url: {action: :create} do |f| %>
                    <%= token_tag nil %>
                    <%= "<div>#{@mantenimientos.errors.full_messages.first}</div>".html_safe if @mantenimientos.errors.any? %>  

<br>
                     <div class="form-group row">
                           <%= f.label :Fecha_de_inicio, class:'col-sm-2'%>
                           <div class="form-group col-sm-4">
                           <%= f.datetime_local_field :fecha_inicio , class:'form-control'%>
                           </div>
                    </div> 

                    <div class="form-group row">
                           <%= f.label :Fecha , class:'col-sm-2'%>
                           <div class="form-group col-sm-4">
                           <%= f.datetime_local_field :fecha_fin , class:'form-control'%>
                           </div>
                    </div> 

                    <div class="form-group row">
                              <%= f.label :Observaciones , class:'col-sm-2'%>
                              <div class="form-group col-sm-4">
                              <%= f.text_area :observaciones, size: "80x20", class:'form-control'%>
                              </div>
                    </div>

                    
<br>
                  <div class="form-group row ">
                       <%= f.label :serie,"Serie del equipo" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       
                       <%= f.text_field :serie , class:'form-control'%>
                       </div>
                       </div>
              

              <div class="form-group row">
                         <%= f.label :Tipo_de_mantenimiento , class:'col-sm-2'%>
                         <div class="form-group col-sm-4">
                         <div class="placeholder">
                          <%= f.select :tipo_mantenimiento , ["Preventivo",  "Correctivo"], prompt: "Seleccione el tipo de mantenimiento" %>
                          </div>
                    </div> 

               <div class="form-group row">
                       <%= f.label :id_departamento, "Departamento" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :id_departamento, Departamento.all{|d| [d.nombre, d.id]}, :id, :nombre, class:'form-control', prompt:"Seleccione el departamento")%>
                        </div>
                       </div>
                            </div>
                   <div class="form-group row">
                       <%= f.label :rfc, "Usuario" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :rfc, Usuario.all{|u| [u.nombre, u.rfc]}, :rfc, :nombre, class:'form-control', prompt:"Seleccione su usuario")%>
                        </div>
                       </div>
                            </div>
                  <div class="form-group row">
                       <%= f.label :id_materiales, "Materiales" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :id_materiales, Materiale.all{|m| [m.nombre, m.id]}, :id_material, :nombre, class:'form-control', prompt:"Seleccione el material")%>
                        </div>
                       </div>
                            </div>

                  <div class="form-group row">
                       <%= f.label :id_herramienta, "Herramienta" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :id_herramienta, Herramientum.all{|h| [h.nombre, h.id]}, :id_herramienta, :nombre, class:'form-control', prompt:"Seleccione la herramienta")%>
                        </div>
                       </div>
                            </div>

                            <div class="form-group row">
                       <%= f.label :id_insumo, "Insumo" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :id_insumo, Insumo.all{|i| [i.nombre, i.id]}, :id_insumo, :nombre, class:'form-control', prompt:"Seleccione el insumo")%>
                        </div>
                       </div>
                            </div>
                            <%end %>

                            <br/>
                         <div>
                 <button type="submit" class="btn btn-info">Guardar</button>
                 <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
           
                                 
                                  
                          </div>
                          
</form>
