<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">

<h4 class="text">Nuevo Material </h4>
</div>
 <div class="probar">
<%= form_with(model: materiale) do |form| %>
  <% if materiale.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materiale.errors.count, "error") %> prohibido que se guarde este material:</h2>

      <ul>
        <% materiale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br/>
  <div class="form-group row">
    <%= form.label :nombre,  class:'col-sm-2'  %>
    <div class="col-sm-4">
    <%= form.text_field :nombre, class:'form-control' %>
  </div>
  </div>

  <div class="form-group row">
    <%= form.label :caracteristicas,  class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= form.text_field :caracteristicas, class:'form-control' %>
  </div>
  </div>

  <div class="form-group row">
    <%= form.label :existencia, class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= form.number_field :existencia , class:'form-control'%>
  </div>
  </div>

  <div >
  <button class="btn btn-info" <%= form.submit %> Guardar </button>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>
