<%= form_with(model: materiale) do |form| %>
  <% if materiale.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materiale.errors.count, "error") %> prohibited this materiale from being saved:</h2>

      <ul>
        <% materiale.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :caracteristicas, style: "display: block" %>
    <%= form.text_field :caracteristicas %>
  </div>

  <div>
    <%= form.label :existencia, style: "display: block" %>
    <%= form.number_field :existencia %>
  </div>

  <div>
  <button class="btn btn-info" <%= form.submit %> Guardar </button>
  </div>
<% end %>
