

<div id="<%= dom_id departamento %>">
  <p>
    <strong>Nombre:</strong>
    <%= departamento.nombre %>
  </p>

  <p>
    <strong>Num equipo:</strong>
    <%= departamento.num_equipo %>
  </p>

  <p>
    <strong>Num equipo:</strong>
    <%= departamento.id_departamento %>
  </p>

  <p>
  <strong>Area:</strong>
  <%= departamento.id_area %>
</p>


</div>
