<div align="center">

<%= form_with(model: departamento) do |form| %>
  <% if departamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% departamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre  %>
  </div>

  <div>
    <%= form.label :num_equipo, style: "display: block" %>
    <%= form.number_field :num_equipo %>
  </div>

  <div>
    <%= form.label :area, style: "display: block" %>
    <%= collection_select(:areas, :id_area, Area.all.order(:nombre), :id_area, :nombre, class:'form-control')%>
                           
  </div>

  <div>
  <button class="btn btn-info" <%= form.submit %> Guardar </button>
  </div>
<% end %>
