<div align="center">

<p style="color: green font-size: 20px"><%= notice %></p>


<%= render @departamento %>

<div>
<%= link_to "Regresar a departamentos", departamentos_path, class: "btn btn-success btn-xs round" %>

<%= link_to "Editar  departamento", edit_departamento_path(@departamento), class: "btn btn-success btn-xs round" %> 
 

  <%= link_to "Eliminar departamento", @departamento, method: :delete, data: { confirm: "Esta seguro de eliminar"}, class: "btn btn-success btn-xs round" %>
 
</div>
