<div id="<%= dom_id reporte %>">
  <p>
    <strong>Fecha:</strong>
    <%= reporte.fecha %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= reporte.observaciones %>
  </p>

  <p>
    <strong>Tipo Problema:</strong>
    <%= reporte.tipo_problema %>
  </p>

  <p>
    <strong>Id Mantenimiento:</strong>
    <%= reporte.maintenance_id %>
  </p>

</div>
