<div id="<%= dom_id reporte %>">
  <p>
    <strong>Fecha:</strong>
    <%= reporte.fecha %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= reporte.observaciones %>
  </p>

  <p>
    <strong>Tipo problema:</strong>
    <%= reporte.tipo_problema %>
  </p>

  <p>
    <strong>Id mantenimiento:</strong>
    <%= reporte.id_mantenimiento %>
  </p>

</div>
