<div id="<%= dom_id equipment %>">
<p>
    <strong>Modelo:</strong>
    <%= equipment.modelo %>
  </p>
  <p>
    <strong>Serial:</strong>
    <%= equipment.serial %>
  </p>
  <p>
    <strong>Observaciones:</strong>
    <%= equipment.observaciones %>
  </p>
  <p>
    <strong>Ram:</strong>
    <%= equipment.ram %>
  </p>
  <p>
    <strong>Disco duro:</strong>
    <%= equipment.disco_duro %>
  </p>
  <p>
    <strong>Fecha de registro:</strong>
    <%= equipment.fecharegistro %>
  </p>
  <% if false%>
  <p>
    <strong>Departamento:</strong>
    <%= equipment.departament_id %>
  </p>
  <%end%>
  <p>
    <strong>Área:</strong>
    <%= equipment.zone_id %>
  </p>
  <p>
    <strong>Marca:</strong>
    <%= equipment.brand_id %>
  </p>
  <p>
    <strong>Tipo:</strong>
    <%= equipment.shape_id %>
  </p>
  <p>
    <strong>Licencia:</strong>
    <%= equipment.licence_id %>
  </p>
</div>
