<head>
<%= stylesheet_link_tag "style" %>
</head>
<div align="center">


<h4>Equipos</h4>

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 
                  <p class="card-description">
                    
                  </p>
                  <div class="table-responsive pt-3">

                  
                  <table class="table table-bordered" id="equipostabla">
                  <thead class="thead-blue" >
              <tr>
                <th></th>
                <th scope="col">Serie</th>
                 <th>Modelo</th>
                <th>Serial</th>
                <th>Observaciones</th>
                <th>RAM</th>
                <th>Disco duro</th>
                <th>Tipo</th>
                <th>Marca</th>
                <th>Departamento</th>
                <th>Area</th>
                <th>Estatus</th>
                <th>Fecha registro</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
           
              <% @equipment.each do |equipment| %>
                <tr class="<%= 'new-equipment' if equipment.id == flash[:new_equipment_id] %>">
                
                <td></td>
                  <td><%= equipment.id %></td>
                  <td><%= equipment.modelo %></td>
                  <td><%= equipment.serial %></td>
                  <td><%= equipment.observaciones %></td>
                  <td><%= equipment.ram %></td>
                  <td><%= equipment.disco_duro %></td>
                  <td><%= equipment.shape.nombre %></td>
                  <td><%= equipment.brand.nombre%></td>
                  <td><%= equipment.zone.departament.nombre%></td>
                  <td><%= equipment.zone.nombre %></td>
                  <td><%= equipment.estatus %></td>
                  <td><%= equipment.fecharegistro%></td>
                 
                  
                  <td > 
                 <% if can? :edit, Equipment%>
                  <a href="<%= edit_equipment_path(equipment)%>" class="edit"><i class="bi bi-pencil-square"></i></a>
                  <%end%>
                  <% if can? :show, Equipment%>
                  <a  class="mostrar"  <%= link_to ({:action => :show, :id => equipment.id}) do %><i class="bi bi-eye-fill"></i><%end%></a>  
                  <%end%>
                  <%  if can? :destroy, Equipment%>
                   <a class="eliminar" <%= link_to ({ :action => :destroy, :id => equipment.id })do%>
                  <i class="bi bi-trash"></i>
                  <%end%>
                  <% end %>
                  </a>
                  </td>
                </tr>
              <% end %>
              
              <% if can? :new, Equipment%>
              <a href="equipment/new" class="new"><i class="bi bi-plus-circle-fill"></i></a>
              <%end%>
            </tbody>
          </table>
                    
                  </div>
                </div>
              </div>
            </div>
        
<script>
            $(document).ready(function() {
              var oTable = $("#equipostabla").DataTable({
                language: {
                  url: '//cdn.datatables.net/plug-ins/1.13.1/i18n/es-MX.json'
              },
              
             order: [[1, 'asc']],
          responsive: "true",
          dom: 'Bfrtilp',    
                buttons:[ 
        {
          extend:    'excelHtml5',
          text:      '<i class="bi bi-file-earmark-excel"></i> ',
          titleAttr: 'Exportar a Excel',
          className: 'btn btn-success'
        },
        {
          extend:    'pdfHtml5',
          text:      '<i class="bi bi-file-earmark-pdf"></i> ',
          titleAttr: 'Exportar a PDF',
          className: 'btn btn-danger'
        },
        {
          extend:    'print',
          text:      '<i class="bi bi-printer"></i> ',
          titleAttr: 'Imprimir',
          className: 'btn btn-info'
        },
      ],
                columnDefs: [ {
            sortable: false,
            "class": "index",
            targets: 0
        } ],
        order: [[ 1, 'asc' ]],
        fixedColumns: true
        } );
 
    oTable.on( 'order.dt search.dt', function () {
        oTable.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
            }); 
            </script>

            
            <script>
            $(document).ready(function() {
  var newEquipmentId = '<%= j flash[:new_equipment_id] %>';
  if (newEquipmentId) {
    var newEquipmentRow = document.getElementById('equipment-' + newEquipmentId);
    if (newEquipmentRow) {
      newEquipmentRow.classList.add('highlight');
      newEquipmentRow.scrollIntoView({ behavior: "smooth", block: "center" });
      newEquipmentRow.focus();
    }
  }
});
            </script>






             

            














