<div id="<%= dom_id insumo %>">
  <p>
    <strong>Nombre:</strong>
    <%= insumo.nombre %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= insumo.caracteristicas %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= insumo.existencia %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= insumo.estatus %>
  </p>

</div>
