<head>
<%= stylesheet_link_tag "style" %>
</head>
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Insumo</a></li>
          <li class="breadcrumb-item active">Caracteristicas Insumo</li>
        </ol>
<div class="container">
<div class="card mt-5">
<div class="card-header">


<h4 class="text">Caracteristicas insumo <%= @insumo.id_insumo %> </h4>
</div>
 <div class="probar">


<p style="color: green"><%= notice %></p>

<%= render @insumo %>

<div>
  <%= link_to "Editar insumo", edit_insumo_path(@insumo) %> |
  <%= link_to "Regresar insumos", insumos_path %>

  <%= button_to "Eliminar insumo", @insumo, method: :delete %>
</div>
