<p style="color: green"><%= notice %></p>
<center>
<h1>Tipos</h1>

<div id="tipos">
  
    <table id="posts-list">
<tr>
<th>ID_TIPO</th>
<th>NOMBRE</th>

</tr>
<% @tipos.each do |tipo| %>
 
  <tr>
<td><%= tipo.id %></td>
<td><%= tipo.nombre %></td> 
<td> <%= link_to "Lista tipo", tipo %></td>
<td><%= link_to 'Editar', edit_tipo_path(tipo)%></td>
<td><%= link_to 'Eliminar',  method: :delete, notice: { confirm: 'Esta Seguro?' } %></td>
</tr>
<% end %>
</table>


<%= link_to "Nuevo tipo", new_tipo_path %>
</center> 