<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">

<h4 class="text">Nuevo Tipo </h4>
</div>
 <div class="probar">

<p style="color: green"><%= notice %></p>

<%= render @tipo %>

<div>
  <%= link_to "Editar  tipo", edit_tipo_path(@tipo) %> |
  <%= link_to "Lista de tipos", tipos_path %>

  <%= button_to "Eliminar tipo", @tipo, method: :delete %>
</div>
