<head>
<%= stylesheet_link_tag "style" %>
</head>


<%= form_with(model: solicitud) do |form| %>
  <% if solicitud.errors.any? %>
    <div style="color: red">
      

      <ul>
        <% solicitud.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

                          <div class="form-group row">
                           <%= form.label :zone_id, "Area solicitante :" , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <div class="placeholder">
                           <%= form.collection_select(:zone_id, Zone.order('nombre'), :id, :nombre, class:'form-control', prompt: "Seleccione el área")%>
                           </div>
                           </div>
                           </div>

  <div class="form-group row">
    <%= form.label :fecha,"Fecha", class:'col-sm-2'%>
     <div class="col-sm-4">
    <%= form.date_field :fecha , min: Date.today%>
  </div>
  </div>
<br>
  <div class="form-group row">
    <%= form.label :descripcion, class:'col-sm-2' %>
    <div class="col-sm-6">
    <%= form.text_area :descripcion %>
  </div>
  </div>
<br>
   <div class="form-group row">
                       <%= form.label :usuarios_id , "Usuario" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= form.collection_select(:usuarios_id, Usuario.all{|u| [u.nombre, u.rfc]}, :id, :nombre, class:'form-control', prompt:"Seleccione su usuario")%>
                        </div>
                       </div>
                            </div>

  <div>
   <button class="btn btn-info" <%= form.submit %> Guardar </button>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>
