<div id="<%= dom_id solicitud %>">
  <p>
    <strong>Area solicitante:</strong>
    <%= solicitud.area_solicitante %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= solicitud.fecha %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= solicitud.descripcion %>
  </p>

  <p>
    <strong>Rfc:</strong>
    <%= solicitud.rfc %>
  </p>

</div>
