<div id="<%= dom_id solicitud %>">
  <p>
    <strong>Area solicitante:</strong>
    <%= solicitud.zone_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= solicitud.fecha %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= solicitud.descripcion %>
  </p>

  <p>
    <strong>RFC:</strong>
    <%= solicitud.usuarios_id %>
  </p>

</div>
