<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Solicitud</a></li>
          <li class="breadcrumb-item active">Editar la solicitud</li>
        </ol>
                  <h4 class="text">Solicitud<%= @solicitud.id%> </h4>
</div>
 <div class="probar">



<%= render "form", solicitud: @solicitud %>

<br>

<div>
  <%= link_to "Ver solicitud", @solicitud %> |
  <%= link_to "Regresar solicituds", solicituds_path %>
</div>
