<%= form_with(model: departament) do |form| %>
  <% if departament.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(departament.errors.count, "error") %> prohibited this departament from being saved:</h2>

      <ul>
        <% departament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>

   <div class="form-group row">
   <%= form.label :nombre ,'Nombre:', class:'col-sm-2' %>
   
   <div class="col-sm-4">
   <%= form.text_field :nombre , class:'form-control' %>
   </div>
</div>


  <div class="form-group row ">
  <%= form.label :num_equipos, class:'col-sm-2'%>
  <div class="col-sm-4">
  <%= form.number_field :num_equipos, class:'form-control'  %>
  </div>
</div>

<div class="form-group row ">
  <%= form.label :area, class:'col-sm-2' %>
  <div class="col-sm-4">
 <div class="placeholder">
  <%= form.collection_select( :room_id, Room.all.order(:nombre), :id, :nombre, class:'form-control')%>                      
</div>
</div>
</div>




<br>
<div>
<button class="btn btn-info" <%= form.submit %> Guardar </button>
<%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
</div>
</div>
<%end%>