<p style="color: green"><%= notice %></p>

<h1>Marcas</h1>
<table class="table table-hover">
  <thead class="thead-blue" >
    <tr>
      <th scope="col">Id_marca</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">ACCIONES</th>
      
    </tr>
  </thead>
  <tbody>
<div id="marcas">
  <% @marcas.each do |marca| %>
    <tr>
    <td><%= marca.id_marca %></td>
    <td><%=  marca.nombre %></td>
    <td><%= link_to 'Ver', :action => :show, :id => marca.id %></td>
   <td> <%= link_to "Editar marca", :action => :edit, :id => marca.id  %> </td>
   <td> <%= link_to 'Eliminar', { :action => :destroy, :id => marca.id }, :method => :delete, :data => { :confirm => 'Esta seguro?' } %></td>

  </tr>
  
  
  <% end %>
</div>

<%= link_to "Nueva marca", new_marca_path %>
