<p style="color: green"><%= notice %></p>

<%= render @marca %>

<div>
  <%= link_to "Editar  marca", edit_marca_path(@marca) %> |
  <%= link_to "Lista marcas", marcas_path %>

  <%= button_to "Eliminar marca", @marca, method: :delete %>
</div>
