<head>
  <%= stylesheet_link_tag "style" %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>

</div>
  <table class="ta">
    <thead>
      <tr>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
        <th>Tipo de mantenimiento</th>
        <th>Equipment ID</th>
        <th>Zona</th>
        <th>Usuario</th>
        <th>Mantenimientos por zona</th> <!-- Nueva columna -->
      </tr>
    </thead>
    <tbody>
    
      <% maintenance_count_by_zone = Hash.new(0)
      @maintenances.each do |maintenance|
      # Incrementa el contador de mantenimientos para la zona correspondiente
      maintenance_count_by_zone[maintenance.zone.nombre] += 1 %>
        <tr>
          <td><%= maintenance.fecha_inicio%></td>
          <td><%= maintenance.fecha_fin%></td>
          <td><%= maintenance.tipo_mantenimiento %></td>
          <td><%= maintenance.shape.nombre %></td>
          <td><%= maintenance.zone.nombre %></td>
          <td><%= maintenance.usuario.nombre %></td>
          <td><%= maintenance_count_by_zone[maintenance.zone.nombre] %></td> <!-- Nueva columna -->
        </tr>
      <% end %>
    </tbody>

</div>

<div id="pie-container">
  <canvas id="pie-chart"></canvas>
</div>

<script>
$(document).ready(function () {
    // Obtener los datos de tu tabla de `maintenances` utilizando jQuery
    var data = $("table tbody tr").map(function () {
      var row = $(this);
      return {
        equipment: row.find("td:nth-child(4)").text(),
        zone: row.find("td:nth-child(5)").text(),
      };
    });
  
    // Procesar los datos para generar la gráfica
    var groupedData = {};
    data.each(function () {
      var key = this.zone;
  groupedData[key] = groupedData[key] ? groupedData[key] + 1 : 1;
    });
  
    var labels = Object.keys(groupedData);
    var values = Object.values(groupedData);
  
    
    // Generar la gráfica utilizando Chart.js
    var ctx = document.getElementById("pie-chart").getContext("2d");
    var chart = new Chart(ctx, {
      type: "pie",
      data: {
        labels: labels,
        datasets: [
          {
            data: values,
            backgroundColor: [
              "#FF6384",
              "#169700",
              "#4E1F7F",
              "#18AACF",
              "#970049",
              '#FD98E5', 
              '#055B55',
              "#26D3D9",
            ],
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
            display: true,
            text: "Número de Equipos por Departamento",
            fontColor: "#000",
            fontSize: 18,
          },
        },
    });
  });
  
</script>






<div id="container"></div>

    <script>
    Highcharts.setOptions({
      colors: ['#4E1F7F', '#F1D81F', '#005E73', '#970049', '#169700',
        '#26D3D9', '#C30400', '#FC6601', '#FD98E5', '#055B55']
    });
    
    var options = {
      chart: {
        type: 'column',
        height: 300 // altura personalizada de la gráfica
      },
      title: {
        text: 'Número de Equipos por Departamento'
      },
      xAxis: {
        categories: <%= @departamentos.map { |d| "'" + d.nombre + "'" }.to_json.html_safe %>,
        labels: {
          style: {
            fontSize: '10px'
          }
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Número de Equipos'
        }
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0,
          colorByPoint: true // utilizar los colores de la matriz definida arriba
        }
      },
      series: [{
        name: 'Equipos',
        data: <%= @departamentos.map(&:num_equipos).to_json.html_safe %>
      }]
    };
    
    var chart = Highcharts.chart('container', options);
    

    </script>
