<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Licencias</a></li>
          <li class="breadcrumb-item active">Características de la licencia</li>
        </ol>
                  <h5 class="text">Licencia <%= @licence.id%> </h5>
</div>
 <div class="probar">




<%= render @licence %>
<br>
</br>
<div>
  <%= link_to "Editar", edit_licence_path(@licence),  class: "btn btn-warning btn-xs round btn-editar " %>
  <%  if can? :destroy, @licence%>
    <%= link_to "Eliminar", @licence, method: :delete , data: { confirm: "Esta seguro de eliminar"},   class: "btn btn-danger btn-eliminar"%>
    <%end%>
  <%= link_to "Regresar", licences_path,  class: "btn btn-success btn-xs round btn-regresar " %> 
<br>
</br>
</div>
