<div id="<%= dom_id maintenance %>">
<p>
    <strong>Nombre:</strong>
    <%= maintenance.nombre %>
  </p>
<p>
    <strong>Nombre:</strong>
    <%= maintenance.fecha_inicio %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.fecha_fin %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.observaciones %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.tipo_mantenimiento %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.equipment_id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.zone_id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.physical_id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.tool_id %>
  </p>
  
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.resources_id %>
  </p>
  <p>
    <strong>Nombre:</strong>
    <%= maintenance.usuarios_id %>
  </p>
</div>
