<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Mantenimiento</a></li>
          <li class="breadcrumb-item active">Editar el  mantenimiento   </li>
        </ol>
                  


<h4 class="text">Editar registro <%= @maintenance.id %> </h4>
</div>
 <div class="probar">

<%= form_with(model: @maintenance) do |f| %>
  <% if @maintenance.errors.any? %>
    <div style="color: red">
      
      <ul>
        <% @maintenance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>
  
                     <div class="form-group row">
                        <%= f.label :nombre,'Nombre', class:'col-sm-2'%>
                            <div class="form-group col-sm-4" >

                           <%= f.text_field :nombre , class:'form-control', :readonly => true%>
                           </div>
                    </div> 
                                         
                        <div class="form-group row">
                        <%= f.label :fecha_inicio , class:'col-sm-2'%>
                            <div class="form-group col-sm-4" >

                           <%= f.datetime_field :fecha_inicio ,value: @time_now, class:'form-control',:readonly => true%>
                           </div>
                    </div> 
                     

                    <div class="form-group row">
                           <%= f.label :Fecha_de_termino , class:'col-sm-2'%>
                           <div class="form-group col-sm-4" >

                           <%= f.datetime_field :fecha_fin , class:'form-control', min: Date.today%>
                           </div>
                    </div> 

                    <div class="form-group row">
                              <%= f.label :Observaciones , class:'col-sm-2'%>
                              <div class="form-group col-sm-4">
                              <%= f.text_area :observaciones, size: '20x20' ,class:'form-control'%>
                              </div>
                    </div>

                    <div class="form-group row">
                         <%= f.label :Tipo_de_mantenimiento , class:'col-sm-2'%>
                         <div class="form-group col-sm-4">
                         <div class="placeholder">
                          <%= f.select :tipo_mantenimiento , ["Servicios",  "Infraestructura"], prompt: "Seleccione el tipo de mantenimiento" %>
                          </div>
                    </div> 
                  <br>
                  <div class="form-group row ">
                       <%= f.label :equipment_id,"Serie del equipo" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :equipment_id, Equipment.all , :id, :id,class: 'form-control', prompt: "Seleccione la id del equipo")%>
                       </div>
                       </div>
                       </div>

                    <div class="form-group row">
                       <%= f.label :zone_id, "Area" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :zone_id, Zone.order('nombre'), :id, :nombre, class:'form-control', prompt:"Seleccione la área")%>
                        </div>
                       </div>
                            </div>

                     <div class="form-group row">
                       <%= f.label :physical_id, "Materiales" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :physical_id, Physical.order('nombre'), :id, :nombre, class:'form-control', prompt:"Seleccione el material")%>
                        </div>
                       </div>
                            </div>

                           <div class="form-group row">
                       <%= f.label :tool_id, "Herramienta" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select( :tool_id, Tool.order('nombre'), :id, :nombre, class:'form-control', prompt:"Seleccione la herramienta")%>
                        </div>
                       </div>
                            </div>
              

                        
                            <div class="form-group row">
                       <%= f.label :resources_id, "Insumo" , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <div class="placeholder">
                       <%= f.collection_select(:resources_id, Resource.order('nombre'), :id, :nombre, class:'form-control', prompt:"Seleccione el insumo")%>
                        </div>
                       </div>
                            </div>

                   <div class="form-group row">
                       <%= f.label :usuarios_id, "Usuario" , class:'col-sm-2'%>
                       <div class="col-sm-4" >
                       <%= f.text_field :usuarios_id, value: @usuario_logiado , :readonly => true , class: "form-control-plaintext"%>
                        </div>
                            </div>
                            
                         <%end %>

                            <br/>
                         <div>
                 <button type="submit" class="btn btn-info">Guardar</button>
                 <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
           
                                 
                                  
                          </div>
                          
</form>





<br>

<div>
  <%= link_to "Ver mantenimiento", @maintenance %> |
  <%= link_to "Lista de mantenimientos", maintenances_path %>
</div>
