<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">

<h4 class="text">Nueva Área </h4>
</div>
 <div class="probar">



 <%= form_with(model: area) do |form| %>
  <% if area.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(area.errors.count, "error") %> Ya existe un área con ese nombre:</h4>

      <ul>
        <% area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="form-group row">
    <%= form.label :nombre,"Nombre:", class:'col-sm-2'%>
    <div class="col-sm-6">
    <%= form.text_field :nombre14, class:'form-control', :placeholder =>'area_nombre', id:"name"  %>
  </div>
  <div>


  <div class="form-group row ">
     <%= form.label :departamento, class:'col-sm-2' %>
     <div class="col-sm-4">
 
    <div class="placeholder">
     <%= form.collection_select( :id_departamento, Departamento.all.order(:nombre), :id, :nombre, class:'form-control')%>    

   </div>
</div>
</div>
  <br>
  <br>
  <button class="btn btn-info" <%= form.submit %> Guardar </button>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>






