<p style="color: green"><%= notice %></p>

<h1>Areas</h1>

<div id="areas">
<table class="table table-hover">
  <thead class="thead-blue" >
    <tr>
      <th scope="col">Id_area</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">ACCIONES</th>
      
    </tr>
  </thead>
  <tbody>
  <% @areas = Area.all %>
  <% @areas.each do |area| %>
    
    <tr>
        <td><%= area.id_area %></td>
        <td><%=  area.nombre %></td>
       <td> <%= button_to "Eliminar area", @area, method: :delete %> </td>
       <td> <%= link_to "Edit this area", edit_area_path(area) %> </td>

      </tr>
    
  <% end %>
</div>

<%= button_to "Nueva area", new_area_path %>

