<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">

<h4 class="text">Nueva Licencia </h4>
</div>
 <div class="probar">

 <%= form_with(model: licencium) do |form| %>
  <% if licencium.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(licencium.errors.count, "error") %> prohibited this licencium from being saved:</h2>

      <ul>
        <% licencium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>


<div class="form-group row">
    <%= form.label :Nombre, class:'col-sm-3'%>
    <div class="col-sm-5">
    <%= form.text_field :nombre, class:'form-control' %>
  </div>
  </div>

  <div class="form-group row">
    <%= form.label :Año,"Año de Licencia", class:'col-sm-3' %>
    <div class="col-sm-5">
    <%= form.number_field :anio, class:'form-control' %>
  </div>
</div>
  <div class="form-group row">
    <%= form.label :Numero,"Numero de Licencia", class:'col-sm-3' %>
    <div class="col-sm-5">
    <%= form.text_field :num_licencia, class:'form-control' %>
  </div>
  </div>
<br>
  <div>
  <button class="btn btn-info"  <%= form.submit %>Guardar </button>
  <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
  </div>
<% end %>


  

              


























