<div align="center">
<p style="color: green"><%= notice %></p>

<h1>Licencia</h1>
<table class="table table-hover">
  <thead class="thead-blue" >
    <tr>
      <th scope="col">ID</th>
      <th>NOMBRE</th>
      <th>AÑO</th>
      <th>NUMERO DE LICENCIA</th>
      <th>Acciones</th>
     
      
    </tr>
  </thead>
<div id="licencia">
  <% @licencia.each do |licencium| %>
    <tr>
    <td><%= licencium.id_licencia %></td>
    <td><%= licencium.nombre %></td>
    <td><%= licencium.anio %></td>
    <td><%= licencium.num_licencia %></td>
  <td> <%= link_to "Eliminar la licencia", @licencium, method: :delete %></td>
  <td> <%= link_to "Editar licencia", edit_licencium_path(licencium) %> </td>
  </tr>
  <% end %>
</div>

<%= button_to "Nueva Licencia", new_licencium_path %>


</div>
