<div class="container">
<div class="card mt-5">
<div class="card-header">

                  <h4 class="text text-secondary">Nuevo equipo </h4>
</div>

                  <%= form_for @equipos,url: {action: :create} do |f| %>
                    <%= token_tag nil %>
                    <%= "<div>#{@equipos.errors.full_messages.first}</div>".html_safe if @equipos.errors.any? %>  

                    <%= f.field :tipo %>
                    <%= f.text_field :tipo %>
                    </div>  
           
                    <div>
                    <%= f.field :Marca %>
                    <%= f.text_field :marca %>
                    </div> 
           
                    <div>
                    <%= f.field :Modelo %>
                    <%= f.text_field :modelo %>
                    </div> 
           
                    <div>
                    <%= f.field :Serial %>
                    <%= f.text_field :serial %>
                    </div> 
           
                    <div>
                    <%= f.field :Edificio %>
                    <%= f.text_field :edificio %>
                    </div> 
           
                    <div>
                    <%= f.field :Area %>
                    <%= f.text_field :area %>
                    </div> 
           
                    <div>
                    <%= f.field :Estatus %>
                    <%= f.text_field :status %>
                    </div> 
           
                    <div>
                    <%= f.field :Observaciones %>
                    <%= f.text_field :observaciones %>
                    </div> 
           
                    <div>
                    <%= f.field :RAM %>
                    <%= f.text_field :ram %>
                    </div> 
           
                    <div>
                    <%= f.field :Disco_Duro %>
                    <%= f.text_field :disco_duro %>
                    </div> 
           
                    <div>
                    <%= f.field :Licencia %>
                    <%= f.text_field :licencia %>
                    </div> 
           
                    <div>
               <button class="btn btn-dark"><%= f.submit %> Guardar</button>
                    </div>
           
                    <%end%>
                    </form>

