
<!DOCTYPE html>   
<html>   
<body> 
<div align="center">

<h1>Equipos</h1>

<table class="table table-hover">
  <thead class="thead-blue" >
    <tr>
      <th scope="col">Serie</th>
      <th scope="col">Id</th>
      <th>Tipo</th>
      
      <th>Modelo</th>
      <th>Serial</th>
      <th>Observaciones</th>
      <th>RAM</th>
      <th>Disco duro</th>
      <th>Tipo</th>
      <th>Marca</th>
      <th>Licencia</th>
      <th>Edificio</th>
      <th>Area</th>
      <th>Estatus</th>
      
      
      
    </tr>
  </thead>
  <tbody>
    <% @equipos.each do |equipos| %>
      <tr>
        <td><%= equipos.serie %></td>
        <td><%= equipos.id %></td>
        <td><%= equipos.tipo %></td>
        
        <td><%= equipos.modelo %></td>
        <td><%= equipos.serial %></td>
        <td><%= equipos.observaciones %></td>
        <td><%= equipos.ram %></td>
        <td><%= equipos.disco_duro %></td>
        <td><%= equipos.id_tipos %></td>
        <td><%= equipos.id_marca %></td>
        <td><%= equipos.id_licencia %></td>
        <td><%= equipos.id_departamento%></td>
        <td><%= equipos.id_area %></td>
        <td><%= equipos.estatus %></td>
        
        <td>
          <%= link_to "Mostrar", equipos %>
          <%= link_to "Editar", edit_equipo_path(equipos) %>
          <%= link_to "Eliminar", equipos, method: :delete, data: { confirm: "¿Estás seguro de eliminar este equipo?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>

</html>
