<div class="container">
<div class="card mt-5">
<div class="card-header">

                  <h4 class="text text-secondary">Nuevo equipo </h4>
</div>

                  <%= form_for @equipos,url: {action: :create} do |f| %>
                    <%= token_tag nil %>
                    <%= "<div>#{@equipos.errors.full_messages.first}</div>".html_safe if @equipos.errors.any? %>  

                    
                      <div class="form-group row">
                      <%= f.label :tipo ,'Tipo:', class:'col-sm-2' %>
                      
                      <div class="col-sm-4">
                      <%= f.text_field :tipo, class:'form-control' %>
                      </div>
                  </div>

                      <div class="form-group row">
                          <%= f.label :serie ,'Serie:', class:'col-sm-2' %>
                          
                          <div class="col-sm-4">
                          <%= f.text_field :serie , class:'form-control' %>
                          </div>
                      </div>

                      

                           <div class="form-group row ">
                           <%= f.label :Marca , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= f.collection_select(:equipos, :id_marca, Marca.all.order(:nombre), :id_marca, :nombre)%>
                           </div>
                  </div>

                           <div class="form-group row">
                           <%= f.label :Modelo , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= f.text_field :modelo , class:'form-control'%>
                           </div>
                           </div>

                           <div class="form-group row">
                           <%= f.label :Serial , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= f.text_field :serial , class:'form-control'%>
                           </div>
                       </div>


                       <div class="form-group row">
                       <%= f.label :Edificio , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <%= f.collection_select(:equipos, :id_departamento, Departamento.all.order(:nombre), :id_departamento, :nombre, class:'form-control')%>
                           
                       
                       </div>
                            </div>
                            <div class="form-group row">
                            <%= f.label :tipo ,'Tipo:', class:'col-sm-2' %>
                             <div class="col-sm-4">
                             <%= f.collection_select(:equipos, :id_tipos, Tipo.all.order(:nombre), :id, :nombre,  class:'form-control' )%>
                                  
                             </div>
                             </div>

                           <div class="form-group row">
                           <%= f.label :Area , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= f.collection_select(:equipos, :id_area, Area.all.order(:nombre), :id_area, :nombre, class:'form-control')%>
                           </div>
                           </div>
           
                           
                              <div class="form-group row">
                              <%= f.label :Estatus , class:'col-sm-2'%>
                                  <div class="form-group col-sm-4">
                                  <select class="combobox form-control" name="estatus", class:'form-control'>
                                  <option value="" selected="selected">Seleccione el estado</option>
                                  <option value="Guardado">Guardado</option>
                                  <option value="Activo">Activo</option>
                                  <option value="Inactivo">Inactivo</option>
                                </select>
                                  </div>
                              </div>
                              <div class="form-group row">
                              <%= f.label :Observaciones , class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= f.text_field :observaciones , class:'form-control'%>
                              </div>
                          </div>
                          

                          <div class="form-group row ">
                          <%= f.label :RAM , class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= f.text_field :ram , class:'form-control'%>
                                 </div>
                          </div>
           

                          <div class="form-group row">
                          <%= f.label :Disco_duro , class:'col-sm-2' %>
                             
                              <div class="col-sm-4">
                              <%= f.text_field :disco_duro , class:'form-control'%>
                              </div>
                          </div>
                          

                          <div class="form-group row">
                          <%= f.label :Licencia  , class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= collection_select(:equipos, :id_licencia, Licencia.all.order(:nombre), :id, :nombre, class:'form-control')%>
                                  
                              </div>
                          </div>
                             <br>
                             <br>
           
                              <button type="submit" class="btn btn-info">Guardar</button>
                              <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
           
                                  <br>
                                  <br>
                                  
                          </div>
                      </section>
                  </div>
              </div>
              <% end %>
              </form>
              

