<div class="container">     
                  <h4 class="text text-secondary">Nuevo equipo </h4>

        <% @equipos.each do |equipos| %>

                      <div class="form-group row">
                          <%= f.label :serie ,'Serie:', class:'col-sm-2' %>
                          
                          <div class="col-sm-4">
                          <% @equipos.serie %>
                          </div>
                      </div>

                      

                           <div class="form-group row ">
                           <%= f.label :Marca , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipos.id_marca.nombre%>
                           </div>
                  </div>

                           <div class="form-group row">
                           <%= f.label :Modelo , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipos.modelo%>
                           </div>
                           </div>

                           <div class="form-group row">
                           <%= f.label :Serial , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipos.serial%>
                           </div>
                       </div>


                       <div class="form-group row">
                       <%= f.label :Edificio , class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <%= @equipos.id_departamento.nombre     %>
                           
                       
                       </div>
                            </div>
                            <div class="form-group row">
                            <%= f.label :tipo ,'Tipo:', class:'col-sm-2' %>
                             <div class="col-sm-4">
                             <%= @equipos.id_tipos.nombre%>
                                  
                             </div>
                             </div>

                           <div class="form-group row">
                           <%= f.label :Area , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%=@equipos.id_area.nombre%>
                           </div>
                           </div>
           
                           
                              <div class="form-group row">
                              <%= f.label :Estatus , class:'col-sm-2'%>
                                  <div class="form-group col-sm-4">
                                 <%= @equipos.estatus %>
                                  </div>
                              </div>
                              <div class="form-group row">
                              <%= f.label :Observaciones , class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= @equipos.observaciones%>
                              </div>
                          </div>
                          

                          <div class="form-group row ">
                          <%= f.label :RAM , class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= @equipos.ram%>
                                 </div>
                          </div>
           

                          <div class="form-group row">
                          <%= f.label :Disco_duro , class:'col-sm-2' %>
                             
                              <div class="col-sm-4">
                              <%= @equipos.disco_duro%>
                              </div>
                          </div>
                          

                          <div class="form-group row">
                          <%= f.label :Licencia  , class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= @equipos.id_licencia.nombre%>
                                  
                              </div>
                          </div>
                             <br>
                             <br>
           
                              <button type="submit" class="btn btn-info">Guardar</button>
                              <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
           
                                  <br>
                                  <br>
                                  
                          </div>
                      </section>
                  </div>
              </div>

