<head>
<%= stylesheet_link_tag "style" %>
</head>

 <div class="probar">



 <%= form_with(model: zone) do |form| %>
  <% if zone.errors.any? %>
    <div style="color: red">
      

      <ul>
        <% zone.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
  <div class="form-group row">
    <%= form.label :nombre,"Nombre:", class:'col-sm-2' %>
    <div class="col-sm-6">
    <%= form.text_field :nombre, class:'form-control' %>
  </div>

  <div class="form-group row ">
     <%= form.label :departament_id ,"Departamento:", class:'col-sm-2' %>
     <div class="col-sm-4">
    <div class="placeholder">
     <%= form.collection_select( :departament_id, Departament.all.order(:nombre), :id, :nombre, class:'form-control')%>                      
   </div>
   </div>
   <br>
   </br>
   <br></br>
    <div>
    <button class="btn btn-info  btn-xs round btn-guardar" <%= form.submit %> Guardar </button>
    <%= link_to 'Cancelar', zones_path, class: "btn btn-warning btn-xs round btn-cancelar"%>
    
    
    </div>
 <br>
<% end %>