<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Areas</a></li>
          <li class="breadcrumb-item active">Editar el  area</li>
        </ol>
                  <h4 class="text">Area <%= @zone.id%> </h4>
</div>
<%= render "form", zone: @zone %>

<br>

<div>
  <%= link_to "Mostrar", @zone %> |
  <%= link_to "Volver a las zonas", zones_path %>
</div>
