<%= form_for @usuarios do |f| %>
  <% if @usuarios.errors.any? %>

  <div id="errorExplanation">
  <h2><%= pluralize(@usuarios.errors.count, "error") %> prohibited
  this post from being saved:</h2>
<ul>
<% @usuarios.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>  
</ul>
  </div>
  <% end %>  

  <div class="form-group row" >
  <%= f.label :nombre,'Nombre ', class:'col-sm-2' %>
  <div class="col-sm-4">
  <%= f.text_field :nombre, autofocus: true %>
  </div>
  </div>

  <div class="form-group row">
  <%= f.label :rfc, 'RFC', class:'col-sm-2' %>
  <div class="col-sm-4">

  <%= f.text_field :rfc, class:"input" %>
  </div>
</div>

<div class="form-group row">
    <%= f.label :apellidouno,'apellido paterno', class:'col-sm-2' %>
    <div class="col-sm-4">
    <%= f.text_field :apellidouno, class:"input" %>
  </div>

  <div class="form-group row">
    <%= f.label :apellido_dos ,'apellido materno', class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= f.text_field :apellidodos, class:"input" %>
    </div>
  </div>


  <div class="form-group row">
  <%= f.label :role ,'Rol',   class:'col-sm-2'%>
  <div class="col-sm-4">
  <%= f.text_field :role, class:"input" %>
  </div>
    </div>


  
  <div class="form-group row">
    <%= f.label :email , 'Correo' ,  class:'col-sm-2'%>
    <div class="col-sm-4">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>
  </div>

  <div class="form-group row">
    <%= f.label :password,'Contraseña',  class:'col-sm-2' %>
    <div class="col-sm-4">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
</div>

<% f.submit%>
</div>
<% end %> 