<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">

<h4 class="text">Editar usuario </h4>
</div>
 <div class="probar">

   <%= form_for @usuario do |f| %>
      <%= token_tag nil %>
   
      

      <div class="form-group row" >
      <%= f.label :nombre,'Nombre ',  class:'col-sm-2' %>
      <div class="col-sm-4" >
      <%= f.text_field :nombre, autofocus: true %>
      </div>
      </div>
    
      <div class="form-group row">
      <%= f.label :id, 'RFC', class:'col-sm-2' %>
      <div class="col-sm-4">
      <%= f.text_field :id, class:"input" %>
      </div>
    </div>
    
         <div class="form-group row">
        <%= f.label :apellidouno,'apellido paterno', class:'col-sm-2' %>
        <div class="col-sm-4">
        <%= f.text_field :apellidouno, class:"input" %>
      </div>
    
      <div class="form-group row">
        <%= f.label :apellido_dos ,'apellido materno', class:'col-sm-2'%>
        <div class="col-sm-4">
        <%= f.text_field :apellidodos, class:"input" %>
        </div>
      </div>
    
    
      <div class="form-group row">
      <%= f.label :role ,'Rol',   class:'col-sm-2'%>
      <div class="col-sm-4">
      <%= f.select :role, ["Administrador", "Agente", "Personal"] %>
      </div>
        </div>
    
    
      
      <div class="form-group row">
        <%= f.label :email , 'Correo' ,  class:'col-sm-2'%>
        <div class="col-sm-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
      </div>
    
      <div class="form-group row">
        <%= f.label :password,'Contraseña',  class:'col-sm-2' %>
        <div class="col-sm-4">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="form-group row">
        <%= f.label :admin , 'Admin' ,  class:'col-sm-2'%>
        <div class="col-sm-4">
        <%= f.text_field :admin, autofocus: true, autocomplete: "admin" %>
    </div>
      </div>

          <div class="col-sm-4">
          <%= f.submit "Guardar ", class: "btn btn-primary" %>
               <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
        </div>
    <% end %>
    </form>