

<div class="container">     <head>
<%= stylesheet_link_tag "style" %>
</head>
<p style="color: green"><%= notice %></p>
<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Usuario</a></li>
          <li class="breadcrumb-item active">Caracteristicas del usuario</li>
        </ol>
                  <h4 class="text">Usuario  <%= @usuario.id%> </h4>

</div>
 <div class="probar">

                      <div class="form-group row">
                          <%= label :id ,'Registro Federal de Contribuyentes:', class:'col-sm-4' %>
                          <div class="col-sm-4">
                          <%= @usuario.id %>
                          </div>
                      </div>

                      

                           <div class="form-group row ">
                           <%= label :nombre ,'Nombre:', class:'col-sm-4'%>
                           <div class="col-sm-4">
                           <%= @usuario.nombre%>
                           </div>
                  </div>

                           <div class="form-group row">
                           <%= label :primerapellido ,'Primer apellido', class:'col-sm-4'%>
                           <div class="col-sm-4">
                           <%= @usuario.apellidouno%>
                           </div>
                           </div>

                           <div class="form-group row">
                           <%= label :segundoapellido ,'Segundo apellido', class:'col-sm-4'%>
                           <div class="col-sm-4">
                           <%= @usuario.apellidodos%>
                           </div>
                       </div>

                       <div class="form-group row">
                           <%= label :Role ,'Role', class:'col-sm-4'%>
                           <div class="col-sm-4">
                           <%= @usuario.role%>
                           </div>
                       </div>


                       <div class="form-group row">
                       <%= label :Email ,'Correo', class:'col-sm-4'%>
                       <div class="col-sm-4">
                       <%= @usuario.email %>
                           
                       
                       </div>
                            </div>
                          

                          
                             <br>
                             <br>
           
                              <div> 

                                  <%= link_to "Lista",usuarios_path,  class: "btn btn-success"%>           
                            <%= link_to 'Regresar', url_for(:back),  class: "btn btn-success"%>
                             <%= link_to 'Eliminar', { :action => :destroy, :id => @usuario.id}, :method => :delete, :data => { :confirm => 'Esta seguro?' } ,  class: "btn btn-danger"%>
                                </div>
                                  <br>
                                  <br>
                             
                          </div>
                      </section>
                  </div>
              </div>


