<div id="<%= dom_id herramientum %>">
  <p>
    <strong>Nombre:</strong>
    <%= herramientum.nombre %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= herramientum.caracteristicas %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= herramientum.existencia %>
  </p>

  <p>
    <strong>Estatus:</strong>
    <%= herramientum.estatus %>
  </p>

</div>
