<head>
<%= stylesheet_link_tag "style" %>
</head>
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Herramienta</a></li>
          <li class="breadcrumb-item active">Caracteristicas Herramienta</li>
        </ol>
<div class="container">
<div class="card mt-5">
<div class="card-header">


<h4 class="text">Caracteristicas Herramienta <%= @herramientum.id_herramienta %> </h4>
</div>
 <div class="probar">


<p style="color: green"><%= notice %></p>

<%= render @herramientum %>

<div>
  
  <%= link_to "Editar herramienta", edit_herramientum_path(@herramientum) %> |
  <%= link_to "Regresar ", herramienta_path %>

  <%= button_to "Eliminar herramienta", @herramienta, method: :delete %>
  
</div>
