<p style="color: green"><%= notice %></p>

<%= render @area1 %>

<div>
  <%= link_to "Edit this area1", edit_area1_path(@area1) %> |
  <%= link_to "Back to area1s", area1s_path %>

  <%= button_to "Destroy this area1", @area1, method: :delete %>
</div>
