
<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Equipo</a></li>
          <li class="breadcrumb-item active">Editar  equipo</li>
        </ol>

<h4 class="text">Editar equipo </h4>
</div>
 <div class="probar">


                  <%= form_for @equipo12, url: equipo12_path(@equipo12) do |f| %>
                    <%= token_tag nil %>
                    <%= "<div>#{@equipo12.errors.full_messages.first}</div>".html_safe if @equipo12.errors.any? %>  
                    
                    <div class="form-group row">
                    <%= f.label :tipo , class:'col-sm-2'%>
                    <div class="col-sm-4">
                     <%= f.select :tipo, ["SWITCH","CPU", "ACCESS POINT", "MONITOR","ROUTER","ALL IN ONE","TELEFONO","IMPRESORA","TECLADO","MOUSE","FAX","LAPTOP","ESCANER","HONEYWELL VOYAGER","ANTENA DE WIFI","LECTOR DE DISCO DURO","EXTERNAL USB", "DVD"] %>
                    </div>  
                    </div>
           
                    <div class="form-group row">
                    <%= f.label :Marca, class:'col-sm-2' %>
                    <div class="col-sm-4">
                    <%= f.collection_select( :id_marcas, Marca.all{|m| [m.nombre, m.id_marca]}, :id, :nombre)%>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :Modelo , class:'col-sm-2'%>
                    <div class="col-sm-4">
                    <%= f.text_field :modelo %>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :Serial , class:'col-sm-2'%>
                    <div class="col-sm-4">
                    <%= f.text_field :serial %>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :Edificio , class:'col-sm-2'%>
                    <div class="col-sm-4">
                   <%= f.collection_select( :id_departamentos, Departamento.all{|d| [d.nombre, d.id]}, :id, :nombre, class:'form-control')%>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :Area , class:'col-sm-2'%>
                    <div class="col-sm-4">
                    <%= f.collection_select(:id_areas, Area.all{|a| [a.nombre]}, :id, :nombre, class:'form-control')%>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :Estatus , class:'col-sm-2'%>
                    <div class="col-sm-4">
                    <%= f.select :estatus, ["GUARDADO", "ACTIVO", "INACTIVO"] %>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :Observaciones, class:'col-sm-2' %>
                    <div class="col-sm-4">
                    <%= f.text_field :observaciones %>
                    </div> 
                    </div> 
           
                    <div class="form-group row">
                    <%= f.label :RAM , class:'col-sm-2'%>
                    <div class="col-sm-4">
                    <%= f.text_field :ram %>
                    </div>
                    </div>  
           
                    <div class="form-group row">
                    <%= f.label :Disco_Duro , class:'col-sm-2'%>
                    <div class="col-sm-4">
                    <%= f.text_field :disco_duro %>
                    </div> 
                    </div> 
           
                    
           
                    <div class="col-sm-4">
               <button class="btn btn-info" type="submit">Guardar</button>
               <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
                    </div>
           
                    <%end%>
                    </form>


