<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Equipo</a></li>
          <li class="breadcrumb-item active">Caracteristicas del equipo</li>
        </ol>
                  <h4 class="text">Equipo <%= @equipo12.serie%> </h4>
</div>
 <div class="probar">
 <p style="color: green"><%= notice %></p>
       
                           <div class="form-group row ">
                           <%= label :Marca ,'Marca', class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipo12.id_marcas%>
                           </div>
                  </div>

                           <div class="form-group row">
                           <%= label :Modelo ,'Modelo', class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipo12.modelo%>
                           </div>
                           </div>

                           <div class="form-group row">
                           <%= label :Serial ,'Serial', class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipo12.serial%>
                           </div>
                       </div>

                       <div class="form-group row">
                           <%= label :Tipo ,'Tipo', class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= @equipo12.tipo%>
                           </div>
                       </div>


                       <div class="form-group row">
                       <%= label :Edificio ,'Edificio', class:'col-sm-2'%>
                       <div class="col-sm-4">
                       <%= @equipo12.id_departamentos %>
                           
                       
                       </div>
                            </div>
                            <div class="form-group row">
                            <%= label :tipo ,'Tipo:', class:'col-sm-2' %>
                             <div class="col-sm-4">
                             <%= @equipo12.id_tipo%>
                                  
                             </div>
                             </div>

                           <div class="form-group row">
                           <%= label :Area ,'Area', class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%=@equipo12.id_areas{Area.id_areas.nombre}%>
                           </div>
                           </div>
           
                           
                              <div class="form-group row">
                              <%= label :Estatus ,'Estatus' ,class:'col-sm-2'%>
                                  <div class="form-group col-sm-4">
                                 <%= @equipo12.estatus %>
                                  </div>
                              </div>
                              <div class="form-group row">
                              <%= label :Observaciones ,'Observaciones', class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= @equipo12.observaciones%>
                              </div>
                          </div>
                          

                          <div class="form-group row ">
                          <%= label :RAM ,'RAM', class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= @equipo12.ram%>
                                 </div>
                          </div>
           

                          <div class="form-group row">
                          <%= label :Disco_duro,'Disco duro', class:'col-sm-2' %>
                             
                              <div class="col-sm-4">
                              <%= @equipo12.disco_duro%>
                              </div>
                          </div>
                          

                          <div class="form-group row">
                          <%= label :Licencia,'Licencia', class:'col-sm-2'%>
                              <div class="col-sm-4">
                              <%= @equipo12.id_licencias%>
                                  
                              </div>
                          </div>
                             <br>
                             <br>
           
                             <div>
                             <%= link_to "Regresar a departamentos", equipo12_index_url, class: "btn btn-success btn-xs round" %>
                             <%= link_to "Editar  departamento", edit_equipo12_path(@equipo12), class: "btn btn-success btn-xs round" %> 
                             <%= button_to "Eliminar departamento", equipo12_path(@equipo12), method: :delete, data: { confirm: "Esta seguro de eliminar"}, class: "btn btn-waring btn-xs round" %>
                             </div>
                                  <br>
                                  <br>
                             
                          </div>
                      </section>
                  </div>
              </div>


