<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Material</a></li>
          <li class="breadcrumb-item active">Características material</li>
        </ol>
                  <h5 class="text">Material  <%= @physical.id%> </h5>
</div>

<div class="probar">
<%= render @physical %>
<br>
   </br>
<div>
<% if can? :edit, Physical%>
  <%= link_to "Editar", edit_physical_path(@physical),  class: "btn btn-warning btn-xs round btn-editar " %>  
  <%end%> 
  <% if can? :destroy, Physical%>
    <%= link_to "Eliminar", @physical, method: :delete, data: { confirm: "Esta seguro de eliminar"},   class: "btn btn-danger btn-eliminar" %>
    <%end%>
  <%= link_to "Regresar", physicals_path,  class: "btn btn-success btn-xs round btn-regresar " %>
   <br>
   </br>
</div>
