<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamento</a></li>
          <li class="breadcrumb-item active">Registrar nuevo departamento</li>
        </ol>
                  <h4 class="text">Nuevo Departamento </h4>
</div>
 <div class="probar">
                  <%= form_for @departamento1,url: {action: :create} do |f| %>
                    <%= token_tag nil %>
                    <%= "<div>#{@departamento1.errors.full_messages.first}</div>".html_safe if @departamento1.errors.any? %>  

<br>


                      <div class="form-group row">
                          <%= f.label :nombre ,'Nombre:', class:'col-sm-2' %>
                          
                          <div class="col-sm-4">
                          <%= f.text_field :nombre , class:'form-control' %>
                          </div>
                      </div>
            


                      <div class="form-group row">
                           <%= f.label :num_equipo , class:'col-sm-2'%>
                           <div class="col-sm-4">
                           <%= f.text_field :num_equipo , class:'form-control'%>
                           </div>
                           </div>

                          
                       </div>

                       
                    
                        
                        <br/>
                         <div>
                 <button type="submit" class="btn btn-info">Guardar</button>
                 <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
           
                                 
                                  
                          </div>
                          </div>
                      </section>
                  </div>
              </div>
  
              <% end %>
              </form>
              


