<p style="color: green"><%= notice %></p>

<%= render @departamento1 %>

<div>
  <%= link_to "Edit this departamento1", edit_departamento1_path(@departamento1) %> |
  <%= link_to "Back to departamento1s", departamento1s_path %>

  <%= button_to "Destroy this departamento1", @departamento1, method: :delete %>
</div>
